.content {
  max-width: 500px;
  margin: auto;
}

.call-container {
  height: 100vh;
  width: 100%;
}
.call-form {
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.img-format {
  position: absolute;
  left: calc(50% - 490px / 2 - 2.5px);
  top: 0px;
}
.btn-top {
  position: absolute;
  width: 264px;
  height: 57px;
  left: calc(50% - 264px / 2 - 2.5px);
  top: 364px;
  margin: auto;
  background: #a5dbce;
  border-radius: 20px;
}

.btn-bottom {
  position: absolute;
  width: 264px;
  height: 57px;
  left: calc(50% - 264px / 2 - 2.5px);
  top: 465px;

  background: #a5dbce;
  border-radius: 20px;
}

.navbar {
  background: #b2e4e5;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
}

navbar-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
