body {
  background: linear-gradient(180deg, #ffffff 0%, rgba(193, 226, 228, 0) 100%),
    #b2e4e5;
}

.navbar {
  background: #b2e4e5;
  display: flex;
  justify-content: space-between;
}

.username {
  color: #99a4cc;
}

.hello-user {
  margin: 20px;
}

.phrase {
  color: #99a4cc;
  margin: 30px;
}

.home-text {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.calls {
  color: #44d2db;
}

.volunteer {
  color: #44db6f;
}
