.navbar {
  background: #b2e4e5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contents-1 {
  position: absolute;
  width: 50%;
  height: 250px;
  left: 27%;
  top: 15%;
  opacity: 0.2;

  background: #75dada;
  border-radius: 10px;
  z-index: 1;
}

.contents-2 {
  position: absolute;
  width: 50%;
  height: 250px;
  left: 27%;
  top: 50%;
  opacity: 0.2;

  background: #75dada;
  border-radius: 10px;
}

.prompt {
  position: absolute;
  left: 43%;
  top: 10%;
}

.prompt-1 {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 28%;
  top: 195px;
  z-index: 2;

  background-color: #94dfe9;
  border-radius: 20px;
}

.prompt-1-words {
  position: absolute;
  height: 36px;
  left: 35%;
  top: 200px;
  z-index: 2;
}

.prompt-2 {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 55%;
  top: 195px;
  z-index: 2;

  background: #cdeafa;
  border-radius: 20px;
}

.prompt-2-words {
  position: absolute;
  height: 36px;
  left: 60%;
  top: 200px;
  z-index: 2;
}

.prompt-3 {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 28%;
  top: 295px;
  z-index: 2;

  background: #b6f7e7;
  border-radius: 20px;
}

.prompt-3-words {
  position: absolute;
  height: 36px;
  left: 35%;
  top: 300px;
  z-index: 2;
}

.prompt-4 {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 55%;
  top: 295px;
  z-index: 2;

  background: #599cc9;
  border-radius: 20px;
}

.prompt-4-words {
  position: absolute;
  height: 36px;
  left: 60%;
  top: 300px;
  z-index: 2;
}

.phrases {
  position: absolute;
  left: 43%;
  top: 45%;
}

.phrase-1 {
  position: absolute;
  width: 280px;
  height: 36px;
  left: 38%;
  top: 55%;

  background: #e2c0fe;
  border-radius: 20px;
}

.phrase-1-words {
  position: absolute;
  width: 280px;
  height: 36px;
  left: 39%;
  top: 56%;
}

.phrase-2 {
  position: absolute;
  width: 280px;
  height: 36px;
  left: 38%;
  top: 63%;

  background: rgba(200, 166, 255, 0.8);
  border-radius: 20px;
}

.phrase-2-words {
  position: absolute;
  width: 280px;
  height: 36px;
  left: 40%;
  top: 64%;
}

.phrase-3 {
  position: absolute;
  width: 266px;
  height: 36px;
  left: 38%;
  top: 70%;

  background: rgba(169, 141, 249, 100%);
  border-radius: 20px;
}

.phrase-3-words {
  position: absolute;
  width: 280px;
  height: 36px;
  left: 40%;
  top: 71%;
}

.btn-bottom {
  width: 264px;
  height: 57px;
  align-self: center;
  top: 80%;
  left: 38%;
  position: absolute;
  font-weight: bold;

  background: #b2dbca;
  border-radius: 20px;
}

.top-navbar {
  background: #b2e4e5;
  height: 60px;
  width: 100%;
}
