@import url("https://fonts.googleapis.com/css?family=GothicA1:100,200,300,400,500,600,700,800,900");

.head {
    position: absolute;
    width: 386px;
    height: 51px;
    left: 0px;
    top: 0px;
    background: #B2E4E5;
}
.header{
    position: flex;
    display:flex;
    width: 100%;
    height: 37px;
    top: 0px;
    background: #C1E4E5;
}

.incoming{
    position: absolute;
    width: 236px;
    height: 38px;
    left: calc(50% - 236px/2 - 20px);
    top: 72px;
}
.incoming-font{
    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
}
.name-button{
    background: #75DADA;
    border-radius: 20px;  
}

.jenny-button{
    position: absolute;
    width: 307px;
    height: 58px;
    left: 40px;
    top: 115px; 
}
.sam-button{
    position: absolute;
    width: 307px;
    height: 58px;
    left: 40px;
    top: 180px;
}
.olivia-button{
    position: absolute;
    width: 307px;
    height: 58px;
    left: 40px;
    top: 245px;
}

.call-info{
    position: absolute;
    width: 267px;
    height: 66px;
    left: calc(50% - 236px/2 - 20px);
    top: 400px;
}
.call-info-font{
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
}
.btn-top {
    position: absolute;
    width: 264px;
    height: 57px;
    left: calc(50% - 264px/2 - 2.5px);
    top: 470px;
    margin:auto;
    background: #A5DBCE;
    border-radius: 20px;
}

.btn-bottom{
    position: absolute;
    width: 264px;
    height: 57px;
    left: calc(50% - 264px/2 - 2.5px);
    top: 550px;

    background: #A5DBCE;
    border-radius: 20px;
}

.navbar {
    background: #b2e4e5;
    display: flex;
    justify-content: space-between;
  }

navbar-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

